.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background-color: #006581;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.main-nav__logo a h1{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 5px;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0 1.5rem;
  display: none;
}

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
  }
}