.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.content {
  margin-top: 3.5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .content {
    padding: 1rem 2rem;
  }
}
