.paginator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
}

.paginator__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.paginator__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2rem;
  border: 1px solid #fab83f;
  border-radius: 0.5rem;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.paginator__control:hover,
.paginator__control:active {
  color: #fab83f;
  border-color: #fab83f;
  cursor: pointer;
  transform: scale(1.1)
}

.paginator__control:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .paginator {
    flex-direction: column;
    gap: 1rem;
  }
  .paginator__control {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.8rem;
  }
}

