.signinup_main{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.signinup_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 20rem;
	border-radius: 10px;
	gap: 2rem;
}

.signin_form, .signup_form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--shade-1);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 var(--shade-4);
}

.signin_form h1, .signup_form h1{
	font-size: 2rem;
	font-weight: 500;
	color: var(--shade-6);
}

.signin_form form , .signup_form form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 1rem;
}

.signin_form form input, .signup_form form input{
	background-color: var(--shade-3);
	width: 80%;
	height: 2rem;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	border-radius: 5px;
}

.signin_form form button, .signup_form form button{
	background-color: var(--shade-6);
	color: var(--shade-1);
	width: 80%;
	height: 2rem;
	border: none;
	border-radius: 5px;
}

.signin_form form button:hover, .signup_form form button:hover{
	background-color: var(--shade-5);
}

.signup_form{
	display: none;
}