
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Freehand:wght@300;400;500;600;700&display=swap');

:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187,85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%, 43%), hsl(199,100%,33%));
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(201,33%,16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyText:rgb(190,190,190);
    --inputColor: rgb(239,239,239);
    --bodyColor: rgb(240,240,246);
    --cardBG: rgb(225,225,235);
}




.home{
    width: 100%;
    position: fixed;
    top: 3.5rem;
    left: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: auto; */
    font-family: 'Freehand', sans-serif;
    padding : 0;
    margin: 0;
    /* box-sizing: border-box; */
}
 

.home .overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(47,106,127);
    top: 0;
    bottom: 0;
    z-index:1;
    mix-blend-mode: hard-light;
}

.home video{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
}

.home .homeContent{
    width: 100%;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--whiteColor);
    z-index: 100;
}

.home .homeContent .textDiv{
    padding: 5rem 0;
}
.home .homeContent .textDiv .smallText{
    font-size: 3rem;
    text-transform: uppercase;
    padding-left: 41%;
}

.home .homeContent .textDiv .homeTitle{
    font-size: 4rem;
    font-weight: 400;
    padding-left: 10%;
}

.home .homeContent .textDiv .authorText{
    font-size: 3rem;
    padding-left: 73%;
}

