.button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #3b0062;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background: #3b0062;
  border-radius: 5px;
}

.button:hover {
  background: #3b0062;
  color: white;
}

.button:active {
  transform: translateY(2px);
}