.feed{
  width: 100%;
  max-width: 40rem;
  margin: 1rem auto;
}

.feed__status {
  margin-bottom: 1rem;
}

.feed__status form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed__status form * {
  font-size: 1.2rem;
}

.feed__control {
  text-align: center;
}

.new-post__preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .feed__status {
    width: 40rem;
  }
}
