
.feed__welcome {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.no-post {
  height : 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
}

.feed__control {
  margin-top: -4.5rem;;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.text{
  width: 100%;
  font-size: 2rem;
  margin: 0 0 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: 'Freehand';
}

.new-post__preview-image {
  width: 15rem;
  height: 7rem;
}

.feed{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: -1rem;
}

@media (min-width: 768px) {
  .feed__status {
    width: 30rem;
  }
}
