.post {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 1rem;
}

.post__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.post__title {
  font-size: 1.5rem;
  margin: 0;
}

.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .post {
    width: 40rem;
  }
}
