.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
}

.single-post h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}

.single-post__image {
  height: 100%;
  width: 100%;
}

.single-post p{
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  opacity: 1;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}
