.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
}

.single-post h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.single-post h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}

.single-post__image {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.single-post p{
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000;
  text-align:justify;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  opacity: 0.9;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}
