.paginator__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.paginator__control {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  color: #ccc;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.paginator__control:hover,
.paginator__control:active {
  background-color: #ccc;
  color: #fff;
}

.paginator__control:focus {
  outline: none;
}
