.card_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: var(--shade-1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.card_main:hover{
    transform: scale(1.05);
}

.card_image{
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border-radius: 10px;
}

.card_title h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}
.card_date h2{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.card_content p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}